$fg-lightest:rgb(255, 255, 255);
$fg-light:rgb(197, 197, 210);
$fg-medium:rgb(153, 142, 188);
$fg-dark:rgb(113, 97, 167);
$fg-darkest:rgb(86, 79, 164);

$mg-lightest:rgb(209, 121, 77);
$mg-light:rgb(189, 77, 39);
$mg-medium:rgb(150, 56, 35);
$mg-dark:rgb(119, 32, 32);
$mg-darkest:rgb(74, 22, 22);

$bg-lightest:rgb(255, 255, 255);
$bg-light:rgb(198, 198, 198);
$bg-medium:rgb(130, 130, 130);
$bg-dark:rgb(69, 69, 69);
$bg-darkest: rgb(13, 13, 13);

$error: rgb(174, 34, 34);