@import '../../Styling/mixins.scss';
@import '../../Styling/colors.scss';

.search-page {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    background-color: $bg-light;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .search-bar-container {
        position: relative;
        z-index: 1;
        height: 40px;
        background-color: $fg-dark;
        width: 100%;
        box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.3);

        display: flex;
        justify-content: center;
        align-items: center;

        input[type=text] {
            border: none;
            outline:none;
            border-radius: 3px;
            padding-left: 10px;

            width: calc(100% - 26px);
            height: calc(100% - 16px);
        }
    }

    .items-container {
        position: relative;
        z-index: 0;
        width: 100%;
        height: calc(100% - 40px);
        background-color: $bg-light;
        overflow-y: auto;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
}